html,
body {
  height: 100%;
}

header {
  height: 5%;
  background: lightgray;
  position: relative;
}

.white_bg {
  background-color: rgb(18, 165, 176);
  padding: 100px 0 100px 0;
}

.blue_bg {
  background-color: #2F4262;
  padding: 100px 0 100px 0;
}

.blue_bg h2 {
  color: #FFF;
}


nav.nav_primary {
  display: table;
  width: 100%;
  background: #FFF;
  line-height: 1.2em;
  border-bottom: solid #ddd 1px;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 500
}

nav.nav_primary.fixed {
  position: fixed;
  top: 0;
}

nav.nav_primary ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.nav_primary li > a {
  text-decoration: none;
}

nav.nav_primary .caret {
  margin-left: 10px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 5px solid #FFF;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
  opacity: .5;
  filter: alpha(opacity=30);
}


.nav_primary_btn {
  display: none;
  margin: .5em;
  color: #2D4060;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 700;
}

.nav_primary_btn:hover {
  color: #ccc;
  text-decoration: none;
}

.nav_primary_btn span {
  display: inline-block;
  margin-right: .25em;
  vertical-align: middle;
}

.nav_primary_btn span span {
  display: block;
  height: 3px;
  width: 20px;
  margin: 4px 0;
  background: #2D4060;
  clear: both;
  border-radius: 2px;
}


nav.nav_primary ul.parent {
  display: table-row;
  width: 100%;
}

nav.nav_primary ul.parent > li {
  display: table-cell;
  position: relative;
  border-right: 1px solid #ddd;
  vertical-align: middle;
}

nav.nav_primary ul.parent > li > a {
  padding: 1em;
  color: #2D4060;
  text-align: center;
  display: block;
  font-weight: 700;
}

nav.nav_primary ul.parent > li.hover > a {
  color: #3E5985;
  background: #ddd;
}

@media only screen and (max-width: 767px) {
  
  nav.nav_primary ul.parent {
    display: none;
  }
  nav.nav_primary ul.parent.show {
    display: block;
  }
  nav.nav_primary ul.parent > li {
    display: block;
  }
  nav.nav_primary ul.parent > li > a {
    text-align: left;
    border-top: 1px solid #ddd;
  }
  nav.nav_primary .nav_primary_btn {
    display: block;
  }